<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Going beyond requires your street smarts</title>
	<meta name="Resource-type" content="Document" />
	<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='streetview/images/apple-touch-icon.png') }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='streetview/images/favicon-32x32.png') }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='streetview/images/favicon-16x16.png') }}">
	<link rel="icon" type="image/ico" href="{{ url_for('static', filename='streetview/images/favicon.ico') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='streetview/css/main.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='streetview/css/featherlight.css') }}">
	<style>
		/* presentation mode */
		.content_section{
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
		}
	</style>
	{% block styles %}

	{% endblock %}
</head>
<body>
	<div class="header_section">
		<div class="default_header">
			<a href="{{ url_for('start') }}" class="page_logo splash_logo"><img src="{{ url_for('static', filename='streetview/images/logo.svg') }}"/></a>
			{% block navbar %}
			
			{% endblock %}
			<a href="#" class="trigger" id="menuTrigger"><span>Menu</span><div></div></a>
		</div>
		<div class="second_header">
			{% block game_tray %}

				{# game tray goes here #}

			{% endblock %}
		</div>
		<ul class="dropdown_section">
			<li  data-featherlight="#play">
				<h2>01</h2>
				<span>How to Play</span>
			</li>
			<li  data-featherlight="#hunt">
				<h2>02</h2>
				<span>Street hunts</span>
			</li>
			<li data-featherlight="#prize">
				<h2>03</h2>
				<span>Leaderboard</span>
			</li>
			<li data-featherlight="#terms">
				<h2>04</h2>
				<span>T&Cs</span>
			</li>
		</ul>
	</div>
	<!-- <div class="content_section" >  style="background-image: url('assets/images/Screenshot_1.jpg');" -->
        {% block content %}
            
        {% endblock %}
	<!--	</div>-->
	{% block soundtrack %}
		
	{% endblock %}
	
	<ul class="footer_section">
		<li>
			<div class="copyright">Copyright 2020. All rights reserved</div>
		</li>
		<li>
			<div class="google_logo"><a href="https://www.google.com/streetview/" target="_blank"><img src="{{ url_for('static', filename='streetview/images/Group 40.svg') }}" alt=""></a></div>
		</li>
	</ul>
	<div class="lightbox" id="play">
		<h2>01</h2>
		<h3><span>WELCOME</span>How to play</h3>
		<ul style="line-height: 20px;">
			<li>1) Once you get to the homepage, you’ll find a menu and short description of what to expect in the challenges.
			<li>2) Click the ‘Get Started’ button to go to the hunt of the day where you’ll find the objective and time available to complete it.</li>  
			<li>3) The clock will start ticking and the first level will be loaded. You’ll be presented with a question and 3 multiple choice answers. Depending on your answer, you’ll either be on the correct path or detour.</li>
			<li>4) If you’re on a correct path, you’ll finish the hunt! Check out your score and click the ‘Redeem Prize’ button to redeem your points.</li>
			<li>5) If you’re on a detour, when time runs out you’ll need to start the hunt again</li>
			<li>6) Always remember, every choice has weighted options.</li>
		</ul>
		<div class="content_pod-a">

		</div>
	</div>
	{% block hunts %}

		{# display a list of active and inactive hunts #}

	{% endblock %}
	<div class="lightbox" id="prize">
		<h2>03</h2>
		<h3><span>DAILY PRIZE</span>Top 5<br/>Leaderboard</h3>
		{% block leaderboard %}

		{% endblock %}
	</div>
	<div class="lightbox" id="terms">
		<h2>04</h2>
		<h3><span>OUR</span>T&Cs</h3>
		<div class="content_pod-a" style="text-align: left;">
			<p>Participation in the StreetView Treasure Hunt game will be subject to the following Terms and Conditions:</p>
			<h5>1) INTRODUCTION</h5>
			<p>Safaricom, in conjunction with Google StreetView* has launched a virtual StreetView journey allowing you to explore Kenya in a different way. Get ready to exercise your mind and use your streetsmarts.</p>
			<h5>2) ELIGIBILITY</h5>
			<p>The game is open to all Safaricom and Non Safaricom registered line users; ages 12 and above.</p>
			<h5>3) GAME INSTRUCTIONS</h5>
			<ol>
					<li>The homepage will greet eligible participants with a menu and short description of what the challenges are.</li>
					<li>The clock will start ticking and the first level is going to be loaded. Participants will be presented with a question and 3 multiple choice answers. Depending on the answer, they will either be on the correct path or a detour. Every choice will have weighted points. </li>
					<li>If on the correct path, the eligible participant will finish the journey. We will then show the participant their points, and ‘View Your Tally’ button. To view total points, we’ll need to capture the participants Name and Phone number. If on a detour, the time will most likely run out and they will need to start the journey again.</li>
			</ol>
			<h5>4) HOW TO COMPLETE THE JOURNEY</h5>
			<p>To get to your destination, eligible participants must select the correct answers to complete the journey within the least time possible. </p>
			<h5>5) RUNTIME</h5>
			<p>The journey will officially open for eligible participants from 0800 hrs of 1sth April 2021 and will be closed on 0000 hours of 5th April 2021</p>
			<h5>6) OTHER TERMS</h5>
			<p>By agreeing to the above terms, the eligible participant is hereby giving Safaricom the rights to use their personal data i.e Name and Phone number, for the purposes of populating the leader board. <br>
				In the event of the eligible participant landing in the Top 10 positions on the leader board, they are also subject to be featured on Safaricom’s social media pages and/or sites which include but are not limited to: Instagram, Twitter, Facebook.</p>
		</div>
    </div>
	<!--  Google Maps Plugin    -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQX86Kf-9nFnNfOafH-tZ8osZ58vK2kzM"></script>
	<script src="{{ url_for('static', filename='streetview/js/jquery-3.6.0.min.js') }}"></script>
	<script src="{{ url_for('static', filename='streetview/js/featherlight.js') }}" type="text/javascript" charset="utf-8"></script>
	<script>
		let trigger = document.querySelector('.trigger');
		let el = document.querySelector('.dropdown_section');

		trigger.onclick = function() {
			el.classList.toggle('open');
			trigger.classList.toggle('active');
		}

		$(document).ready(function(){
			$(".music_btn .play").on('click',function(){
				$(this).hide();
				$(".pause").fadeIn();
				$("#bg_music")[0].play();
			});
			$(".music_btn .pause").on('click',function(){
				$(this).hide();
				$(".play").fadeIn();
				$("#bg_music")[0].pause();
			});
		});
	</script>
    {% block scripts %}

        {# scripts go here #}
        
    {% endblock %}

</body>

</html>