<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Going beyond requires your street smarts</title>
	<meta name="Resource-type" content="Document" />
	<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='streetview/images/apple-touch-icon.png') }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='streetview/images/favicon-32x32.png') }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='streetview/images/favicon-16x16.png') }}">
	<link rel="icon" type="image/ico" href="{{ url_for('static', filename='streetview/images/favicon.ico') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='streetview/css/main.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='streetview/css/featherlight.css') }}">
	<style>
		/* presentation mode */
		.content_section{
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
		}
	</style>
	{% block styles %}

	{% endblock %}
</head>
<body>
	<div class="header_section">
		<div class="default_header">
			<a href="{{ url_for('start') }}" class="page_logo splash_logo"><img src="{{ url_for('static', filename='streetview/images/logo.svg') }}"/></a>
			{% block navbar %}
			
			{% endblock %}
			<a href="#" class="trigger" id="menuTrigger"><span>Menu</span><div></div></a>
		</div>
		<div class="second_header">
			{% block game_tray %}

				{# game tray goes here #}

			{% endblock %}
		</div>
		<ul class="dropdown_section">
			<li  data-featherlight="#play">
				<h2>01</h2>
				<span>How to Play</span>
			</li>
			<li  data-featherlight="#hunt">
				<h2>02</h2>
				<span>Street hunts</span>
			</li>
			<li data-featherlight="#prize">
				<h2>03</h2>
				<span>Daily prize</span>
			</li>
			<li data-featherlight="#terms">
				<h2>04</h2>
				<span>T&Cs</span>
			</li>
		</ul>
	</div>
	<!-- <div class="content_section" >  style="background-image: url('assets/images/Screenshot_1.jpg');" -->
        {% block content %}
            
        {% endblock %}
	<!--	</div>-->
	<div class="saf_music">
        <audio id="bg_music" src="{{ url_for('static', filename='streetview/music/TwendeTukiuke.mp3') }}" loop=""></audio>
        <button class="music_btn">
            <div class="play"></div >
            <div  class="pause"></div >
        </button>
    </div>
	<ul class="footer_section">
		<li>
			<div class="copyright">Copyright 2020. All rights reserved</div>
		</li>
		<li>
			<div class="google_logo"><a href="https://www.google.com/streetview/" target="_blank"><img src="{{ url_for('static', filename='streetview/images/Group 40.svg') }}" alt=""></a></div>
		</li>
	</ul>
	<div class="lightbox" id="play">
		<h2>01</h2>
		<h3><span>WELCOME</span>How to play</h3>
		<ul style="line-height: 20px;">
			<li>1) The homepage will greet eligible participants with a menu and short description of what the challenges do.
			<li>2) On pressing the ‘Get started’ button, the eligible participant will be taken directly to the available hunt of the day. Here, they will be shown the objective and the time available to complete.</li>  
			<li>3) The clock will start ticking and the first level is going to be loaded. They will then be presented with a question and 3 multiple choice answers. Depending on the answer, they will either be on the correct path or a detour. Every choice will have weighted points.</li>
			<li>4) If on the correct path, the eligible participant will finish the hunt. We will then show the participant their points, and ‘Redeem Prize’ button. In order to redeem the points, we’ll need to capture their Name and Phone numbe. If on a detour, the time will most likely run our and they will need to start the hunt again.</li>
		</ul>
		<div class="content_pod-a">

		</div>
	</div>
	{% block hunts %}

		{# display a list of active and inactive hunts #}

	{% endblock %}
	<div class="lightbox" id="prize">
		<h2>03</h2>
		<h3><span>DAILY PRIZE</span>Top 5<br/>Leaderboard</h3>
		{% block leaderboard %}

		{% endblock %}
	</div>
	<div class="lightbox" id="terms">
		<h2>04</h2>
		<h3><span>OUR</span>T&Cs</h3>
		<div class="content_pod-a" style="text-align: left;">
			Participation in the StreetView Treasure Hunt game will be subject to the following Terms and Conditions:<br>
			1) INTRODUCTION <br>
			World Puzzle Day, which will be celebrated on the 29th of January 2021, presents a good opportunity for Kenyans to exercise their minds through games. In this light, Safaricom, in conjunction with Google StreetView* has launched a virtual StreetView Treasure Hunt game to mark this day. Participants will be able to exercise their minds and use their ‘Street smarts’ in a bid to win. <br>
			2) ELIGIBILITY <br>
			The game is open to all Safaricom and Non Safaricom registered line users; ages 12 and above. <br>
			3) GAME INSTRUCTIONS <br>
			<b>.</b> The homepage will greet eligible participants with a menu and short description of what the challenges do.<br>
			<b>.</b> On pressing the ‘Get started’ button, the eligible participant will be taken directly to the available hunt of the day. Here, they will be shown the objective and the time available to complete.<br>
			<b>.</b> The clock will start ticking and the first level is going to be loaded. They will then be presented with a question and 3 multiple choice answers. Depending on the answer, they will either be on the correct path or a detour. Every choice will have weighted points.<br>
			<b>.</b> If on the correct path, the eligible participant will finish the hunt. We will then show the participant their points, and ‘Redeem Prize’ button. In order to redeem the points, we’ll need to capture their Name and Phone number. If on a detour, the time will most likely run our and they will need to start the hunt again.<br>
			4) HOW TO WIN <br>
			To win, eligible participants must complete the game most accurately, within the least time possible. <br>
			The first 10 people out of all participants to finish the game within the least time will be recognized and rewarded. <br>
			5) GAME VALIDITY <br>
			The game will officially open for eligible participants from 0800 hrs of 29th January 2021 and will be closed at 0000 hours of 30th January 2021 <br>
			6) REWARDS <br>
			Only the top 10 winners out of the eligible participants will be rewarded with airtime, with the values as follows: <br>
			<b>.</b>1st place: KES 15,000</br>
			<b>.</b>2nd place: KES 10,500</br>
			<b>.</b>3rd place: KES 7,000</br>
			<b>.</b>4th place: KES 5,000</br>
			<b>.</b>5th place: KES 4,000</br>
			<b>.</b>6th place: KES 3,500</br>
			<b>.</b>7th place: KES 2,000</br>
			<b>.</b>8th place: KES 1,500</br>
			<b>.</b>9th place: KES 1,000</br>
			<b>.</b>10th place: KES 500</br>
			7)	OTHER TERMS <br>
			By agreeing to the above terms, the eligible participant is hereby giving Safaricom the rights to use their personal data i.e Name and Phone number, for the purposes of determining the winners thereby rewarding them accordingly. <br>
			In the event of the eligible participant landing in the Top 10 Scoreboard, they are also subject to being featured on Safaricom’s social media pages and/or sites which include but are not limited to: Instagram, Twitter, Facebook.
		</div>
    </div>
	<!--  Google Maps Plugin    -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQX86Kf-9nFnNfOafH-tZ8osZ58vK2kzM"></script>
	<script src="{{ url_for('static', filename='streetview/js/jquery-1.7.0.min.js') }}"></script>
	<script src="{{ url_for('static', filename='streetview/js/featherlight.js') }}" type="text/javascript" charset="utf-8"></script>
	<script>
		let trigger = document.querySelector('.trigger');
		let el = document.querySelector('.dropdown_section');

		trigger.onclick = function() {
			el.classList.toggle('open');
			trigger.classList.toggle('active');
		}

		$(document).ready(function(){
			$(".music_btn .play").on('click',function(){
				$(this).hide();
				$(".pause").fadeIn();
				$("#bg_music")[0].play();
			});
			$(".music_btn .pause").on('click',function(){
				$(this).hide();
				$(".play").fadeIn();
				$("#bg_music")[0].pause();
			});
		});
	</script>
    {% block scripts %}

        {# scripts go here #}
        
    {% endblock %}

</body>

</html>