<!-- treasure/base.html -->

{% extends 'base.html' %}

{% block sidebar %}

    <li class="nav-item active">
        <a class="nav-link" href="javascript:;">
          <i class="material-icons">map</i>
          <p>Treasures</p>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="javascript:;">
          <i class="material-icons">leaderboard</i>
          <p>Leaderboard</p>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="javascript:;">
          <i class="material-icons">settings</i>
          <p>Profile</p>
        </a>
    </li>

{% endblock %}

{% block content %}

<div class="col-md-12">
  <div class="card">
    <div class="card-header card-header-success card-header-icon">
       <div class="card-icon">
            <i class="material-icons">assignment</i>
       </div>
       <h4 class="card-title">Treasure Hunts</h4>
    </div>
    <div class="card-body">
        <h4 class="card-description">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class="text-danger font-weight-bold" style="list-style: none; text-align: center;">
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        </h4>

      <div class="table-responsive">
       {{ table }}
      </div>

    </div>
  </div>
</div>

{% endblock %}
