<!-- treasure/base.html -->

{% extends 'base.html' %}

{% block sidebar %}

<li class="nav-item active">
    <a class="nav-link" href="javascript:;">
      <i class="material-icons">map</i>
      <p>Treasures</p>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="javascript:;">
      <i class="material-icons">leaderboard</i>
      <p>Leaderboard</p>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="javascript:;">
      <i class="material-icons">settings</i>
      <p>Profile</p>
    </a>
</li>

{% endblock %}

