{% extends 'streetview_base.html' %}

{% block styles %}
<style>
    /* The popup form - hidden by default */
    .form-popup {
      display: none;
      position: fixed;
      bottom: 0;
      /*right: 15px;*/
      /*border: 3px solid #f1f1f1;*/
      z-index: 9;
    }

    .center {
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
   }

    /* Add styles to the form container */
    .form-container {
      max-width: 300px;
      padding: 10px;
      background-color: white;
    }

    /* Full-width input fields */
    .form-container input[type=text], .form-container {
      width: 100%;
      overflow-x: hidden;
      padding-bottom: 20px;
      margin: 5px 0 22px 0;
      border: none;
      background: #f1f1f1;
    }

    /* When the inputs get focus, do something */
    .form-container input[type=text]:focus, .form-container input[type=password]:focus {
      background-color: #ddd;
      outline: none;
    }

    /* Set a style for the submit/login button */
    .form-container .btn {
      background-color: #2cb34a;
      color: white;
      padding: 16px 20px;
      border: none;
      cursor: pointer;
      width: 100%;
      margin-bottom:10px;
      opacity: 0.8;
    }

    /* Add some hover effects to buttons */
    .form-container .btn:hover, .open-button:hover {
      opacity: 1;
    }

    .alert {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        height: 20px;
        width: 300px;
        display: none;
        font-size: large;
        padding: 30px;
        text-align: center;
        z-index: 9;
    }

    .alert-success {
        background-color: #2cb34a;
    }

    .alert-danger {
        background-color: #ed1c23;
    }

    /*.closebtn {
      margin-left: 15px;
      color: white;
      font-weight: bold;
      float: right;
      font-size: 22px;
      line-height: 20px;
      cursor: pointer;
      transition: 0.3s;
    }

    .closebtn:hover {
      color: black;
    }*/
</style>

{% endblock %}

{% block hunts %}

<div class="lightbox" id="hunt">
    <h2>02</h2>
    <h3><span>EXPLORE</span>Street hunts</h3>
    <ul class="content_pod-b">
        {% for hunt in data['hunts'] %}
            <li class="default">
                <a href="#" class="btn_green btn">
                    <span>PLAY</span>
                    <h6>{{ hunt['name'] }}</h6>
                    <div><img src="{{ url_for('static', filename='streetview/images/arrow.svg') }}" alt=""></div>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}

{% block leaderboard %}

<ul class="content_pod-b">

    {% for x in data['leaderboard'] %}
        <li class="default">
            <a href="#" class="btn_green btn">
                <span>1</span>
                <h6>{{ x.player.name }}</h6>
                <div>{{ x.points }}</div>
            </a>
        </li>
    {% endfor %}

</ul>

{% endblock %}

{% block game_tray %}
<div class="second_header">
    <div class="item_center">
        <a href="javascript:;" class="nav_next"></a>
        <a href="javascript:;" class="nav_prev"></a>
        <div class="title">
            <span class="a">{{ data.treasure['name'] }}</span>
        </div>
    </div>
    <div class="item_left">
        <div class="title" id="clockdiv">
            <span class="a">Time</span>
            <span class="b" id="timer">0</span>
        </div>
    </div>
    <div class="item_right">
        <div class="title">
            <span class="a">Points</span>
            <span class="b" id="points">0</span>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="content_section" >
    <div id="panorama" style="width: 100%; height: 100%;"></div>
   <!-- <div class="content_block-one">
        <h2>street<br/>hunt<br/><span>name</span></h2>
        <p>{{ data.treasure['description'] }}</p>
        <img src="{{ url_for('static', filename='streetview/images/egg.png') }}" alt="">
        <div>Look around to find the marker</div>
    </div>-->
    <div class="content_block-two block_content danger" id="message_block">
        <div class="icon icon_1"></div>
        <div class="icon icon_2"></div>
        <div class="icon icon_3"></div>
        <div class="icon icon_4"></div>
        <div class="wrapper">
            <div class="pod">
                <h2 id="clue_ident">CLUE #1</h2>
                <h3>{{ data.clue['description'] }}</h3>
                {% for opt in data.options %}
                    <a onclick="relocatePlayer( '{{ opt['id'] }}' )">
                        Go to {{ opt['name'] }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="form-popup center" id="userForm">
        <form action="" class="form-container">
            <h1>Register Details</h1>

            <input type="text" name="name" id="name" placeholder="Enter your name" required/>

            <input type="text" name="phone" id="phone" placeholder="Enter phone number" required/>

            <button type="submit" class="btn">Register Me</button>
        </form>
    </div>

    <div class="alert">
        <!-- <span class="closebtn" onclick="closeMsg()">&times;</span>-->
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
/***
 * **************************************
 * Store initial game variables
 */
$( document ).ready(function() {
    localStorage.setItem('points', 0);
    localStorage.setItem('treasure_id', '{{ data.treasure['id']|safe }}' );
    localStorage.setItem('clue', 1);
    localStorage.setItem('stray_path', 0);
});


/***
 * **************************************
 * Game Time Ticker
 */
let d1 = new Date (),
    d2 = new Date ( d1 );
d2.setMinutes ( d1.getMinutes() + {{ data.treasure['time']|safe }} );

let countDownDate = d2.getTime();

let x = setInterval(function() {
  let now = new Date().getTime();
  let distance = countDownDate - now;
  let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  let seconds = Math.floor((distance % (1000 * 60)) / 1000);

  $("#timer").html(minutes + "m " + seconds + "s ");

  if (distance < 0) { // time has ended, stop the game!
    clearInterval(x);
    stopGame();
  }
}, 1000);


/***
 * **************************************
 * Google Maps
 */
let panorama;


function initialize() {
    panorama = new google.maps.StreetViewPanorama(
    document.getElementById("panorama"),
    {
      position: { lat: {{ data['landing_pos']['lat']|safe }}, lng: {{ data['landing_pos']['lng']|safe }} },
      pov: { heading: 165, pitch: 0 },
      zoom: 1,
      zoomControlOptions: { position: google.maps.ControlPosition.LEFT_CENTER },
      addressControlOptions: { position: google.maps.ControlPosition.BOTTOM_CENTER}
    }
  );

  const gameMarker = new google.maps.Marker({
    position: { lat: -1.2595552637385474, lng: 36.785125526142544 },
    map: panorama,
    icon: "https://chart.apis.google.com/chart?chst=d_map_pin_icon&chld=bus|FFFF00",
    title: "You found it",
  });
}

initialize();


/***
 * **************************************
 * Player relocation, to a different scene
 */
const relocatePlayer = (optionId) => {
    // get option details
    let endpoint = "/clue/options/" + optionId;
    let optionsInfo = $.get( endpoint, (data) => {
        if(data.was_endpoint && data.is_correct)
        {
            // the user got the last checkpoint correct, display message
            add_points(data.points);
            $('#message_block').removeClass();
            $('#message_block').addClass("content_block-three success block_content");
            let points = localStorage.getItem('points');
            let timeRemaining = $("#timer").text();
            localStorage.setItem('time', timeRemaining);
            let level_scrore = get_final_score(timeRemaining);
            clearInterval(x);
            let html = `
            <div class="icon icon_1"></div>
            <div class="icon icon_2"></div>
            <div class="icon icon_3"></div>
            <div class="icon icon_4"></div>
            <div class="wrapper">
                <div class="pod">
                    <h2>SUCCESS</h2>
                    <p style="font-weight: bold;">{{data.treasure['description']}}</p>
                    <h4>Level score: <span>${level_scrore}</span>points</h4>
                    <h4><span>${timeRemaining}</span>time remaining</h4>
                    <a onclick="registerUser()">Redeem Prize</a>
                </div>
            </div>
            `;
            $('#message_block').html(html);
            relocator(data.coordinates, data.slug, false);

        } else if(data.was_endpoint && data.is_correct === false) {
            // dead-end, start half life
            add_points(data.points);
            let points = localStorage.getItem('points');
            let treasure_id = localStorage.getItem('treasure_id');

            $('#message_block').removeClass();
            $('#message_block').addClass("content_block-three failure block_content");

            startHalfLife();

        } else {
            if(data.is_correct === false)
            {
                let stray_path = localStorage.getItem('stray_path');
                stray_path++;
                localStorage.setItem('stray_path', stray_path);
            }
            add_points(data.points);
            relocator(data.coordinates, data.slug);
        }

    });

}

/****
 * display user form on completion
 */
const registerUser = () => {
    $('#message_block').hide()
    $("#userForm").show();
}


/*****
 * automatically end game when the timer stops
 */
const stopGame = () => {
    let points = localStorage.getItem('points');
    let treasure_id = localStorage.getItem('treasure_id');
    $('#message_block').removeClass();
    $('#message_block').addClass("content_block-three failure block_content");

    let html = `
    <div class="icon icon_1"></div>
    <div class="icon icon_2"></div>
    <div class="icon icon_3"></div>
    <div class="icon icon_4"></div>
    <div class="wrapper">
        <div class="pod">
            <h2>TIME’S UP</h2>
            <h3>Sorry your time run out</h3>
            <h4><span>00:00:00</span></h4>
            <h4><span>${points}</span>points</h4>
            <a href="/hunt/${treasure_id}">Start the hunt again</a>
        </div>
    </div>
    `;
    $('#message_block').html(html);

    localStorage.clear();
}


/*******
 * set new coordinates
 * @param coordinates
 * @param slug
 * @param next
 */
function relocator(coordinates, slug, next=true) {
    let newPos = splitCoordinates(coordinates);
    let lat = newPos[0];
    let lng = newPos[1];
    const newPosition = new google.maps.LatLng({lat: Number(lat), lng: Number(lng)});
    if(next === true) get_next_clue(false, slug);

    panorama.setPosition(newPosition);
}

/*****
 * split coordinates
 * @param coordinates
 * @returns {*|string[]}
 */
const splitCoordinates = (coordinates) => {
    return coordinates.split(',')
}

/***
 * return user to second clue
 */
const startHalfLife = () => {
    get_next_clue(true);
}


/***
 * get the next associated clue
 * @param halfLife
 * @param slug
 */
const get_next_clue = (halfLife=false, slug=null) => {
    let next_clue;
    let endpoint = '/clue/options/';
    let treasure_id = localStorage.getItem('treasure_id');
    let clue_no = localStorage.getItem('clue');

    if(halfLife === true) {
        endpoint = endpoint + 'half-life/' + treasure_id;
        next_clue = 2;
    } else {
        endpoint = endpoint + treasure_id + '/' + slug;
        next_clue = parseInt(clue_no) + 1
    }

    $.get( endpoint,  (data) => {
        localStorage.setItem('clue', next_clue);

         let html = `
            <div class="icon icon_1"></div>
            <div class="icon icon_2"></div>
            <div class="icon icon_3"></div>
            <div class="icon icon_4"></div>
            <div class="wrapper">
                <div class="pod">
                    <h2>CLUE #${next_clue}</h2>
                     <h3>${data.description}</h3>`;
                     $.each(data['options'], function(key, item) {
                         html += `<a onclick="relocatePlayer('${item['id']}')">${item['name']}</a>`;
                     });
            html += `
                </div>
            </div>
        `;
        $('#message_block').html(html);
    });
}

/*****
 * add corresponding points
 * @param points
 * @returns {number}
 */
const add_points = (points) => {
    let current_points = localStorage.getItem('points');
    let total = parseInt(current_points) + parseInt(points);
    localStorage.setItem('points', total);
    $('#points').html(total); // update points
    return total;
}

/****
 * calculate the users final score upon completion
 * @param time_spent {string}
 * @returns {number}
 */
const get_final_score = (time_spent) => {
        let level_score = 5;
        let deductibles = 0;
		let time_spent_text = time_spent.replace(/[^0-9]/g,'');
		let time_array = Array.from(time_spent_text);
		let minutes_spent = time_array[0];
		let seconds_spent = time_array[1];
		if(time_array.length > 2) {
			seconds_spent = parseInt(seconds_spent+''+time_array[2]);
		}

      	if(minutes_spent > 0) {
      		seconds_spent = seconds_spent + (minutes_spent * 60);
      	}

		let total_points =  Math.max(0, seconds_spent) * level_score;
      	let stray_path = localStorage.getItem('stray_path');
      	if(stray_path > 0){
      	    deductibles = stray_path * 2;
        }
      	total_points = total_points - deductibles;
      	localStorage.setItem('points', total_points);
      	return total_points;
}


/***
 * submit user details
 */
$('#userForm').submit((e) => {
    $('#userForm').fadeOut();

    let username = $('#name').val();
    let phone = $('#phone').val();
    let points = localStorage.getItem('points');
    let time = localStorage.getItem('time');
    let treasure_id = localStorage.getItem('treasure_id');

    let data = {
        'username': username,
        'phone': phone,
        'points': points,
        'time': time,
        'treasure_id': treasure_id
    }

    $.ajax({
      type: "POST",
      url: '/player/register',
      data: data,
      success: (result) => {
          if(result.status === 1) {
              $('.alert').addClass('alert-danger');
          } else {
              $('.alert').addClass('alert-success');
          }
          let msg = "<h2>"+result.message+"</h2>";
          $('.alert').html(msg);
          $(".alert").fadeIn(2000);
          $('.alert').fadeOut(5000, () => {
            window.location.href = "{{ url_for('start') }}";
          });
      },
      dataType: 'json'
    });
    localStorage.clear();
    e.preventDefault();

});

</script>

{% endblock %}