{% extends 'streetview_base.html' %}

{% block content %}
<div class="content_section" style="background-image: url('/static/streetview/images/Screenshot_1.jpg')">
    <div class="content_pod">
        <h1>STREET HUNT <span>NAME</span></h1>
        <h2>Use your <span>Street Smarts</span> to beat our  <span>StreetView</span> challenges</h2>

        {% if data %}

        {% for row in data %}
        <ul>
            <li>01</li>
            <li>
                <div>Time {{ row['time'] }}.00.00</div>
            </li>
            <li>
                <a href="{{ url_for('hunt.start_hunt', treasure_id=row['id']) }}" class="btn_green">
                    <span>Let’s Go</span>
                    <img src="{{ url_for('static', filename='streetview/images/arrow.svg') }}"/>
                </a>
            </li>
        </ul>
        {% endfor %}

        {% else %}
            <br/>
            <h2>No hunts available today.</h2>
        {% endif %}

    </div>
</div>

{% endblock %}