{% extends 'streetview_base.html' %}

{% block navbar %}

    <img src="{{ url_for('static', filename='streetview/images/green_logo.svg') }}" alt="Streetview Safaricom" class="green_logo">

{% endblock %}

{% block hunts %}

<div class="lightbox" id="hunt">
    <h2>02</h2>
    <h3><span>EXPLORE</span>Street hunts</h3>
    <ul class="content_pod-b">
        <li class="default">
            <a href="#" class="btn_green btn">
                <span>PLAY</span>
                <h6>{{ data['treasure']['name'] }}</h6>
                <div><img src="{{ url_for('static', filename='streetview/images/arrow.svg') }}" alt=""></div>
            </a>
        </li>
    </ul>
</div>

{% endblock %}

{% block leaderboard %}

<ul class="content_pod-b">
    {% for x in data['leaderboard']  %}
        <li class="default">
            <a href="#" class="btn_green btn">
                <span>1</span>
                <h6>{{ x.player.name }}</h6>
                <div>{{ x.points }}</div>
            </a>
        </li>
    {% endfor %}

</ul>

{% endblock %}


{% block content %}

<div class="content_section" style="background-image: url('/static/streetview/images/Screenshot_1.jpg')">
    <div class="content_pod">
        <div class="street_name">
            <h1>{{ data['treasure']['tag_line_1'] }}<span>{{ data['treasure']['tag_line_2'] }}</span></h1>
            <h2>Objective: {{ data['treasure']['objective'] }}</h2>

            {% if data['treasure'] %}
            <ul>
                <li>01</li>
                <li>
                    <div>Time {{ data['treasure']['time'] }}.00</div>
                </li>
                <li>
                    <a href="{{ url_for('hunt.start_hunt', treasure_id=data['treasure']['id']) }}" class="btn_green">
                        <span>Play now</span>
                        <img src="{{ url_for('static', filename='streetview/images/arrow.svg') }}"/>
                    </a>
                </li>
            </ul>
        </div>
        {% else %}
            <br/>
            <h2>No hunts available today.</h2>
        {% endif %}

    </div>
</div>

{% endblock %}

{% block soundtrack %}
<div class="saf_music">
    <audio id="bg_music" src="{{ url_for('static', filename='streetview/music/pedestrians.mp3') }}" loop=""></audio>
    <button class="music_btn">
        <div class="play"></div >
        <div  class="pause"></div >
    </button>
</div>
{% endblock %}