{% extends 'streetview_base.html' %}

{% block navbar %}

    <h1>Going beyond requires your street smarts</h1>

{% endblock%}

{% block hunts %}

<div class="lightbox" id="hunt">
    <h2>02</h2>
    <h3><span>EXPLORE</span>Street hunts</h3>
    <ul class="content_pod-b">
        {% for hunt in data['treasure']  %}
            <li class="default">
                <a href="#" class="btn_green btn">
                    <span>PLAY</span>
                    <h6>{{ hunt['name'] }}</h6>
                    <div><img src="{{ url_for('static', filename='streetview/images/arrow.svg') }}" alt=""></div>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}

{% block leaderboard %}

<ul class="content_pod-b">

    {% for x in data['leaderboard']  %}
        <li class="default">
            <a href="#" class="btn_green btn">
                <!-- <span>1</span> -->
                <h6>{{ x.player.name }}</h6>
                <div>{{ x.points }}</div>
            </a>
        </li>
    {% endfor %}

</ul>

{% endblock %}

{% block content %}
<div class="content_section" style="background-image: url('/static/streetview/images/Screenshot_1.jpg')">
    <div class="content_pod">
        <img src="{{ url_for('static', filename='streetview/images/main_title.svg') }}" alt="Streetview & Beyond" class="main_title" />
        <h2>Use your <span>Street Smarts</span> to beat our  <span>StreetView</span> challenges</h2>
        <a href="{{ url_for('hunt.get_hunts') }}" class="btn main_btn btn_green">
            <span>Get started</span>
            <div><img src="{{ url_for('static', filename='streetview/images/arrow.svg') }}" alt=""> </div>
        </a>
    </div>
</div>
{% endblock %}